page-archive {

    .tab-header {
        color: orange;
        font-size: 2.0em;
    }

    .card-background-page {

        ion-card {
            position: relative;
            text-align: center;
        }

        .card-contents {
            position: absolute;
            top: 15%;
            font-size: 1.0em;
            width: 95%;
            font-weight: bold;
            color: #fff;
        }

        .card-author {
            padding-top: 0.25em;
            font-size: 1.3em;
            width: 100%;
            font-weight: bold;
            color: orange;
        }

        .card-contributor {
            padding-top: 0.25em;
            font-size: 1.3em;
            width: 100%;
            font-weight: bold;
            color: orange;
        }
    }
}
